{% extends 'base.html' %}
{% load static from staticfiles %}
{% load solo_tags %}
{% get_solo 'portfolio.SocialLinks' as socialLinks %}
{% block bodyID %}about{% endblock %}
{% block content %}
<section class="about">
    <img class="about-img" src="{{info.aboutImage.url}}" alt="About image">
    <article>
        <header>
            <h2>
                <img src="{% static "img/about.svg"%}" alt="Arquitectura Sergio Portillo">
            </h2>
        </header>
        {% if LANGUAGE_CODE == "en" %}
        {{info.aboutText_en | safe}}
        {% else %}
        {{info.aboutText_es | safe}}
        {% endif %}
        <p class="about-info">
            {{info.line1}}<br>
            {{info.line2}}<br>
            {{info.line3}}<br>
            {{info.line4}}<br>
        </p>
    </article>
</section>
{% endblock %}
