{% load static from staticfiles %}
{% load solo_tags %}
{% get_solo 'portfolio.SocialLinks' as socialLinks %}
<div class="wrapper" id="social">
	<ul>
		<li><a href="{{socialLinks.tw}}" title="Twitter">Twitter</a></li>
		<li><a href="{{socialLinks.fb}}" title="Facebook">Facebook</a></li>
		<li><a href="{{socialLinks.it}}" title="Instagram">Instagram</a></li>
	</ul>
</div>
<footer id="footer">
	<div class="wrapper">
		<img src="{% static "img/logoFooter.svg"%}" alt="Sergio Portillo">
	</div>
</footer>
