{% extends 'base.html' %}
{% block header-refs %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
{% endblock %}
{% block content %}
<section class="slider">
    {% for item in p_list %}
    <a
        href="{{ item.url }}"
        >
        <img src="{{item.image.url}}">
    </a>
    {% endfor %}
</section>
{% endblock %}
{% block FooterReferences %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
    $('.slider').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 1000,
        fade: true,
        cssEase: 'ease-in-out',
        arrows: false,
    });
</script>
{% endblock %}
