{% extends 'base.html' %}
{% block content %}
<section class="press">
    {% for press in p_list %}
    <div>
        <a href="{{press.url}}" title="{{press.name_en}}" target="_blank">
            <img class="about-img" src="{{press.mainImage.url}}" alt="{{press.name_es}}">
        </a>
        <article>
            <header>
                <h2>
                    {% if LANGUAGE_CODE == "en" %}
                    <a href="{{press.url}}" title="{{press.name_en}}" target="_blank">
                        {{press.name_en}}
                    </a>
                    {% else %}
                    <a href="{{press.url}}" title="{{press.name_es}}" target="_blank">
                        {{press.name_es}}
                    </a>
                    {% endif %}
                </h2>
            </header>
            {% if LANGUAGE_CODE == "en" %}
            {{press.description_en | safe}}
            {% else %}
            {{press.description_es | safe}}
            {% endif %}
        </article>
    </div>
    {% endfor %}
</section>
{% endblock %}
