{% extends 'base.html' %}
{% load static from staticfiles %}
{% load embed_video_tags %}
{% block references %}
<meta property="og:url" content="http://www.a-sp.mx/proyect/{{proyect.slug}}" />
<meta property="og:image" content="{{proyect.mainImage.url}}" />
<meta property="og:site_name" content="ASP" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="potro01">
<meta name="twitter:creator" content="potro01">
<meta name="twitter:image:src" content="{{proyect.mainImage.url}}">
<meta name="twitter:domain" content="http://www.a-sp.mx/">

{% if LANGUAGE_CODE == "en" %}
<meta property="og:title" content="{{proyect.name_en}}" />
<meta property="og:description" content="{{proyect.socialText_en}}" />

<meta name="twitter:title" content="{{proyect.name_en}}">
<meta name="twitter:description" content="{{proyect.socialText_en}}">

{% else %}
<meta property="og:title" content="{{proyect.name_es}}" />
<meta property="og:description" content="{{proyect.socialText_es}}" />

<meta name="twitter:title" content="{{proyect.name_es}}">
<meta name="twitter:description" content="{{proyect.socialText_es}}">
{% endif %}
{% endblock %}
{% block bodyID %}single{% endblock %}
{% block content %}
<section class="single">
    <div class="singleCover">
        <img class="singleImg" src="{{proyect.mainImage.url}}" alt="">
        <article>
            <header>
                <h2>
                    {% if LANGUAGE_CODE == "en" %}
                    {{proyect.name_en}}
                    {% else %}
                    {{proyect.name_es}}
                    {% endif %}
                </h2>
            </header>
            {% if LANGUAGE_CODE == "en" %}
            {{proyect.description_en | safe}}
            {% else %}
            {{proyect.description_es | safe}}
            {% endif %}
            <p class="singleInfo">
                {{proyect.location}}<br>
                {{proyect.date}}<br>
            </p>
            {% if proyect.socialText_en %}
            <div class="social">
                {% if LANGUAGE_CODE == "en" %}
                <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank">
                    <img src={% static "img/facebook.svg"%} alt="social">
                </a>
                <a href="https://twitter.com/intent/tweet?url=URL&text={{proyect.socialText_en}} {{ request.build_absolute_uri }} &via=potro01" target="_blank">
                    <img src={% static "img/twitter.svg"%} alt="social">
                </a>
                {% else %}
                <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank">
                    <img src={% static "img/facebook.svg"%} alt="social">
                </a>
                <a href="https://twitter.com/intent/tweet?url=URL&text={{proyect.socialText_es}} {{ request.build_absolute_uri }}&via=potro01" target="_blank">
                    <img src={% static "img/twitter.svg"%} alt="social">
                </a>
                {% endif %}
            </div>
            {% endif %}
        </article>
    </div>
    <div class="clearfix"></div>
    <div class="gallery">
        {% for image in proyect.getGallery  %}
        <img class="{{image.imageOrientation}}" src="{{image.imageWithEffect}}" alt="{{image.name}}">
        {% endfor %}
        <div class="videoWrapper">
            {% for i in proyect.getVideos  %}
            {% video i.video 'medium' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block FooterReferences %}
<script>
    $(function() {
        var $allVideos = $("iframe[src^='http://player.vimeo.com'], iframe[src^='http://www.youtube.com']"),

            // The element that is fluid width
            $fluidEl = $(".videoWrapper");

        // Figure out and save aspect ratio for each video
        $allVideos.each(function() {

            $(this)
                .data('aspectRatio', this.height / this.width)

            // and remove the hard coded width/height
                .removeAttr('height')
                .removeAttr('width');

        });

        // When the window is resized
        $(window).resize(function() {

            var newWidth = $fluidEl.width();

            // Resize all videos according to their own aspect ratio
            $allVideos.each(function() {

                var $el = $(this);
                $el
                    .width(newWidth)
                    .height(newWidth * $el.data('aspectRatio'));

            });

            // Kick off one resize to fix all videos on page load
        }).resize();

    });
</script>
{% endblock %}
