boto==2.39.0
Collectfast==0.2.3
Django==1.9.1
django-appconf==1.0.1
django-ckeditor==5.0.2
django-embed-video==1.0.0
django-environ==0.4.0
django-gunicorn==0.1.1
django-imagekit==3.3
django-solo==1.1.1
django-storages-redux==1.3.1
greenlet==0.4.9
gunicorn==19.4.5
msgpack-python==0.4.6
neovim==0.1.0
pilkit==1.1.13
Pillow==3.1.0
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.7
requests==2.9.1
six==1.10.0
South==1.0.2
static3==0.6.1
wheel==0.26.0
