{% extends 'base.html' %}
{% load static from staticfiles %}
{% block bodyID %}about{% endblock %}
{% block content %}
<section>
    <img id="aboutImg" src="{{info.aboutImage.url}}" alt="About image">
    <article>
        <header>
            <h2>
                <img src="{% static "img/about.svg"%}" alt="Arquitectura Sergio Portillo">
            </h2> 
        </header>
        {% if LANGUAGE_CODE == "en" %}
            {{info.aboutText_en | safe}}
        {% else %}
            {{info.aboutText_es | safe}}
        {% endif %}
        <p id="aboutInfo">
            {{info.line1}}<br>
            {{info.line2}}<br>
            {{info.line3}}<br>
            {{info.line4}}<br>
        </p>
    </article>
</section>
{% endblock %}