{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ASP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "style.css"%}">
    <script src="{% static "js/vendor/modernizr-2.6.2.min.js"%}"></script>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/apple-touch-icon-57x57.png"%}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/apple-touch-icon-144x144.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "img/apple-touch-icon-60x60.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/apple-touch-icon-120x120.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/apple-touch-icon-76x76.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/apple-touch-icon-152x152.png" %}" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-196x196.png"%}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-96x96.png"%}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png"%}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png"%}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-128.png"%}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{% static "img/mstile-144x144.png"%}" />
    <meta name="msapplication-square70x70logo" content="{% static "img/mstile-70x70.png"%}" />
    <meta name="msapplication-square150x150logo" content="{% static "img/mstile-150x150.png"%}" />
    <meta name="msapplication-wide310x150logo" content="{% static "img/mstile-310x150.png"%}" />
    <meta name="msapplication-square310x310logo" content="{% static "img/mstile-310x310.png"%}" />
    {% block references %}{% endblock %}
</head>
<body >
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block header %}{% include 'header.html' %}{% endblock %}
    <div class=wrapper id="{% block bodyID %}{% endblock %}">
    {% block content %}{% endblock %}

    {% block footer %}{% include 'footer.html' %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>
    <script src="{% static "script.js"%}"></script>
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='http://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    {% block FooterReferences %}{% endblock %}
</body>
</script>