{% load static from staticfiles %}
<header id="header" class="">
    <div class="wrapper">
        <a id="logo" href="{% url 'home' %}" title="">
            <img src="{% static "img/logoHeader.svg"%}" alt="logo">
        </a>
        <img id="menu" src="{% static "img/menu.svg"%}" alt="menu">
        <nav>
            <ul id="navMenu">
                {% for page in menu %}
                <li>
                    <a {% if page.active %} class="active"{% endif %} href="{{page.url}}" name={{page.name}}>{{page.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <div id="lanMenu">
                <form  action="/i18n/setlang/" method="post">
                {% csrf_token %}
                    <button name="language" value="en" type="submit" {% if LANGUAGE_CODE == "en" %} class="active"{% endif %}>EN</button>&nbsp/&nbsp
                </form>
                <form action="/i18n/setlang/" method="post">
                {% csrf_token %}
                    <button name="language" value="es-Mx" type="submit" {% if LANGUAGE_CODE == "es-mx" %} class="active"{% endif %}>ES</button>
                </form>
            </div>
        </nav>
    </div>
</header>

 {{LANGUAGE_CODE}}

<form action="/i18n/setlang/" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="" />
<select name="language">
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
    {% endfor %}
</select>
<input type="submit" value="Go" />
</form>
