{% extends 'base.html' %}
{% block bodyID %}content{% endblock %}
{% block content %}
<section>
    {% for proyect in p_list %}
        <a
        	href="{% url 'singleProyect' proyect.slug %}"
        	title="{{proyect.name_es}}"
        	class="{{proyect.imageOrientation}}"
        	style="background: url("{{proyect.mainImageBW}})"!important);"
        	onMouseOver="this.style.background-image = url({{proyect.mainImage}});"
        	onMouseOut="this.style.background-image = url({{proyect.mainImageBW}});"
        ></a>
    {% endfor %}
</section>
{% endblock %}