{% extends 'base.html' %}
{% block bodyID %}content{% endblock %}
{% block content %}
<section>
    <a href="single.html" title="" class="center"></a>
    <a href="single.html" title="" class="up"></a>
    <a href="single.html" title="" class="left"></a>
    <a href="single.html" title="" class="down"></a>
    <a href="single.html" title="" class="right"></a>
    <a href="single.html" title="" class="center"></a>
    <a href="single.html" title="" class="up"></a>
    <a href="single.html" title="" class="left"></a>
    <a href="single.html" title="" class="down"></a>
    <a href="single.html" title="" class="right"></a>
    <a href="single.html" title="" class="center"></a>
    <a href="single.html" title="" class="up"></a>
</section>
{% endblock %}