{% extends 'base.html' %}
{% block bodyID %}press{% endblock %}
{% block content %}
{% for press in p_list %}
<section>
    <a href="{{press.url}}" title="{{press.name_en}}" target="_blank">
        <img id="aboutImg" src="{{press.mainImage.url}}" alt="{{press.name_es}}">
    </a>
    <article>
        <header>
            <h2>
                {% if LANGUAGE_CODE == "en" %}
                <a href="{{press.url}}" title="{{press.name_en}}" target="_blank">
                {{press.name_en}}
                </a>
                {% else %}
                <a href="{{press.url}}" title="{{press.name_es}}" target="_blank">
                {{press.name_es}}
                </a>
                {% endif %}
            </h2>
        </header>
        {% if LANGUAGE_CODE == "en" %}
        {{press.description_en | safe}}
        {% else %}
        {{press.description_es | safe}}
        {% endif %}
    </article>
</section>
{% endfor %}
{% endblock %}
