{% extends 'base.html' %}
{% block bodyID %}press{% endblock %}
{% block content %}
{% for press in p_list %}
<section>
    <img id="aboutImg" src="{{press.mainImage.url}}" alt="{{press.name_es}}">
    <article>
        <header>
            <h2>
                {% if LANGUAGE_CODE == "en" %}
                {{press.name_en}}
                {% else %}
                {{press.name_es}}
                {% endif %}
            </h2>
        </header>
        {% if LANGUAGE_CODE == "en" %}
        {{press.description_en | safe}}
        {% else %}
        {{press.description_es | safe}}
        {% endif %}
    </article>
</section>
{% endfor %}
{% endblock %}