{% extends 'base.html' %}
{% block bodyID %}content{% endblock %}
{% block content %}
<section>
    <article>
        <a href="single.html" title="" class=""></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="up"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="left"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="down"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="right"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class=""></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="up"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="left"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="down"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="right"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class=""></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>

    <article>
        <a href="single.html" title="" class="up"></a>
        <span>
            Palacio de Gobierno<br>
            Guadalajara<br>
            2003-2007<br>
        </span>
    </article>
</section>
{% endblock %}