{% extends 'base.html' %}
{% block bodyID %}content{% endblock %}
{% block content %}
<section>
    {% for proyect in p_list %}
    <article>
        <a
            href="{% url 'singleProyect' proyect.slug %}"
            title="{{proyect.name_es}}"
            class="{{proyect.imageOrientation}}"
            style="background: url("http://lorempixel.com/g/2903/253");"
        ></a>
        <span>
            {% if LANGUAGE_CODE == "en" %}
                {{proyect.name_en}}
                {% else %}
                {{proyect.name_es}}
                {% endif %}
                <br>
            {{proyect.location}}<br>
            {{proyect.date}}<br>
        </span>
    </article>
    {% endfor %}
</section>
{% endblock %}