{% extends 'base.html' %}
{% block content %}
<section class="proyects">
    {% for proyect in p_list %}
    <article>
        <a
            href="{% url 'singleProyect' proyect.slug %}"
            class="{{proyect.imageOrientation}}"
            >
            <img src="{{proyect.mainImage.url}}">
            {% if proyect.secondImage %}
            <img src="{{proyect.secondImage.url}}" class="blackAndWhite">
            {% elif proyect.mainImageBW %}
            <img src="{{proyect.mainImageBW.url}}" class="blackAndWhite">
            {% endif %}
        </a>
        <span>
            {% if LANGUAGE_CODE == "en" %}
            {{proyect.name_en}}
            {% else %}
            {{proyect.name_es}}
            {% endif %}
        </span>
    </article>
    {% endfor %}
</section>
{% endblock %}
