{% extends 'base.html' %}
{% block bodyID %}single{% endblock %}
{% block content %}
<section class="singleCover">
    <img class="singleImg" src="{{proyect.mainImage.url}}" alt="">
    <article>
        <header>
            <h2>
                {% if LANGUAGE_CODE == "en" %}
                    {{proyect.name_en}}
                {% else %}
                    {{proyect.name_es}}
                {% endif %}
            </h2>
        </header>
         {{proyect.description_es | safe}}
        <p class="singleInfo">
            {{proyect.location}}<br>
            {{proyect.date}}<br>
        </p>
    </article>
</section>
<div class="clearfix"></div>
<section class="gallery">
    {% for image in proyect.getGallery  %}
        <img class="{{image.imageOrientation}}" src="{{image.imageWithEffect}}" alt="">
    {% endfor %}
</section>
{% endblock %}