@import "lib/*"

html
body
    margin 0
    padding 0
    color $black
    font-family 'Source Sans Pro', sans-serif
    font-weight 400
    h1
    h2
    h3
    h4
        font-weight 700
    .wrapper
        margin auto
        max-width 1300px
        width 95%
        @media screen and (min-width: 640px)
            width 80%

@import "components/*"
