main.wrapper
    margin 120px auto 0px auto
    @media screen and (min-width: 1024px)
        margin 140px auto 0px auto
    section
        width 100%
        display flex
        flex-flow row wrap
        justify-content space-between
