.single
    h2
        font-weight 400
        letter-spacing 0.2em
        font-size 0.5em
        @media screen and (min-width: 1024px)
            font-size 1.0em
        @media screen and (min-width: 1024px)
            font-size 1.2em
        @media screen and (min-width: 1400px)
            font-size 1.4em
    .singleCover
        overflow hidden
        display flex
        flex-flow row wrap
        align-items flex-start
        justify-content space-between
        .singleImg
            width 100%
            height auto
            display block
            margin 0 0 0 0
            @media screen and (min-width: 640px)
                width 60%
        article
            display block
            width 100%
            height 100%
            overflow-y auto
            padding 0 10px 0 0
            margin 30px 0 0 0
            @media screen and (min-width: 640px)
                width 35%
                margin 0
            header
                clear both
                display block
                overflow hidden
                h2
                    margin 0
            p
                text-align left
                font-size 0.4em
                @media screen and (min-width: 640px)
                    text-align justify
                @media screen and (min-width: 1024px)
                    font-size 0.6em
                @media screen and (min-width: 1400px)
                    font-size 0.8em
            .singleInfo
                letter-spacing 0.2em
                line-height 200%
                margin-bottom 0
            .social
                width 50%
                display block
                float right
                text-align right
                position relative
                top -25px
                a
                    width 20%
                    display inline-block
                    img
                        width 90%
                        height auto
                        display inline-block
    .gallery
        img
            display block
            height auto
        .covr
            clear both
            display block
            width 100%
            margin 21px 0 0 0
            @media screen and (min-width: 640px)
                width 100%
                margin 43px 0 0 0
        .left
            width 40.5%
            float left
            margin 21px 0 21px 5.464481%
            @media screen and (min-width: 640px)
                width 45.5%
                margin 43px 0 43px 5.464481%
        .rigt
            width 40.5%
            float right
            margin 21px 5% 21px 0
            @media screen and (min-width: 640px)
                width 45.5%
                margin 43px 0% 43px 0
        .cntr
            width 60%
            clear both
            margin 21px auto 0 auto
            @media screen and (min-width: 640px)
                margin 43px auto 0 auto
        .videoWrapper
            margin 43px 0 0 0
            width 100%
            iframe
                margin 43px 0 0 0
