.slider
    div
        width 100%
    a
        width 100%
        display block
        margin auto
        &:hover
            img.blackAndWhite
                visibility hidden
                opacity 0
        img
            width 100%
            height auto
            display block
            transition visibility 2s ease 2s,opacity 2s ease
